:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --grey-background: #313647;
    --navy-background: #435663;
    --greyy-background: rgb(227, 232, 239);
    --font-color: #435663;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
}

h2,
h3,
p,
li,
ul {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
}

/* START SIDEBAR */
.sidebar {
    display: grid;
    background-color: var(--grey-background);
    color: white;
    font-size: 1rem;
    font-weight: 700;
    grid-column: 1;
    grid-row: 1 / -1;
    grid-template-rows: 1fr 2fr 4fr;
    gap: 50px;
    padding: 0px 20px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
    gap: 10px;
    padding: 15px 0 0 0;
}

.logo img {
    height: 3.3rem;
    width: auto;
    filter: invert(100%);
}

.logo p {
    font-size: 1.4rem;
}

.sidebar-icon {
    filter: invert(100%);
    height: 1.5rem;
    width: auto;
}

.sidebar ul>li {
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
}

.nav>ul,
.setting>ul {
    display: grid;
    gap: 15px;
}

.nav {
    align-self: center;
}

/* END SIDEBAR */


/* START HEADER */

.header {
    display: grid;
    grid-column: 2 / -1;
    grid-row: 1;
    z-index: 1;
    box-shadow: 1px 3px 8px rgb(117, 117, 117);
}

.search {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 15px 0 10px 10px;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1;
    padding: 0 10px;
}

.search-bar img {
    height: 1.5rem;
    width: auto;
}

#search-bar {
    width: 40vw;
    height: 30px;
    border: 0;
    border-radius: 15px;
    background-color: var(--greyy-background);
}

.gotoprofile {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 600;
    flex: 1;
}

.gotoprofile :first-child {
    width: auto;
    height: 1.3rem;
}

.gotoprofile img {
    height: 2.5rem;
    width: auto;
    border-radius: 50%;
}

.profile {
    display: flex;
}

.profile-photos {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 0 0 0 20px;
}

.profile-photos img {
    height: 4rem;
    width: auto;
    border-radius: 50%;
}

.profile-photos>div>p {
    font-size: 0.7rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.profile-photos>div>h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.button {
    display: flex;
    gap: 20px;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
}

button {
    border: 0;
    width: 6rem;
    height: 2.5rem;
    border-radius: 50px;
    background-color: var(--grey-background);
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: #435663;
}

/* END HEADER */


/* START ARTICEL */

.articel {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    grid-template-columns: 3fr 1fr;
    padding: 20px 30px 50px 20px;
    gap: 20px;
    background-color: var(--greyy-background);
}

.project {
    display: flex;
    flex-direction: column;
}

.card-container {
    display: grid;
    flex: 1;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 20px 20px;
    border-left: 5px solid red;
    font-size: 0.8rem;
    align-items: flex-start;
    height: 200px;
}

.card h3 {
    font-size: 1rem;
    font-weight: 700;
}

.card p {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--font-color);
    margin-top: 8px;
}

.icon-container {
    display: flex;
    align-self: flex-end;
    margin-top: 25px;
    gap: 20px;
}

.icon-container img {
    height: 0.9rem;
    width: auto;
}

.drivers {
    display: grid;
}

.holder {
    background-color: white;
    padding: 15px 30px 30px 30px;
}

.announce {
    padding: 15px 0 15px 0;
    border-bottom: 1px solid rgb(207, 207, 207);
}

.announce p {
    font-size: 0.6rem;
    color: var(--font-color);
    padding: 5px 0 0 0;
}

h4 {
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
}

h2 {
    font-size: 1.3rem;
    padding: 12px 0 12px 0;
    font-weight: 500;
}

.trend {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0 10px 0;
    gap: 10px;
}

.trend img {
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.trend p {
    font-size: 0.6rem;
    color: var(--font-color);
    padding: 2px 0 0 0;
}

.trend h4 {
    font-weight: 400;
}

.card,
.holder {
    border-radius: 10px;
    box-shadow: 2px 3px 4px rgb(207, 207, 207);
}